body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    overflow: hidden;
}

/* Fundo animado */
.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    animation: fade 8s infinite;
    z-index: -1;
}

.bg1 {
    background-image: url('schmidt.jpg');
}

.bg2 {
    background-image: url('schmidt 2.jpg');
    animation-delay: 4s;
}

@keyframes fade {
    0% { opacity: 1; }
    40% { opacity: 1; }
    50% { opacity: 0; }
    90% { opacity: 0; }
    100% { opacity: 1; }
}
